*{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body{
  background-color: #03154a;
  font-weight: 700;
}

h1{
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
}

.top{
  display: flex;
  justify-content: center;
}

.bottom{
  display: flex;
  justify-content: center;
}

a{
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px){
  body{
    font-size: 15px;
  }
}

@media (max-width: 768px){
  body{
    font-size: 14px;
    text-align: center;
  }

  a{
    margin: 8px 0;
  }
}

@media (max-width: 480px){
  body{
    font-size: 13px;
  }
}